.rotate-180 {
    transform: rotate(180deg);
}

// SHOW / HIDE
.display-none {
    display: none;
}

.display-block {
    display: block;
}

// responsive embeds
.embed-block {
    width: 100%;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
